/**
 *
 *
 */
/* -- SCREEN Media queries -- */
/* -- COLORS -- */
/* -- END COLORS -- */
/* -- IMG PATH -- */
/* -- END IMG PATH -- */
/* -- BASE PROJECT FONT SETTINGS -- */
/* -- END BASE PROJECT FONT SETTINGS -- */
/* -- ICONS CODE TO PSEUDO-ELEMENTS -- */
/* -- END ICONS CODE TO PSEUDO-ELEMENTS -- */
/* -- ANIMATION STYLE -- */
/* -- END ANIMATION STYLE -- */
/* -- PRIMARY MIXIN -- */
/*.transform(...) {
	transform: @arguments translateZ(0);
	-ms-transform: @arguments translateZ(0);
	-webkit-transform: @arguments translateZ(0);
}*/
/* -- END PRIMARY MIXIN -- */
/* -- SPECIFIC MIXIN -- */
/*-- Light bg typography styles
-----------------------------*/
/*---------------------------*/
/* -- END SPECIFIC MIXIN -- */
.ul-autocrop {
  overflow: hidden;
  position: relative;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.ul-autocrop:not([zoomaway]) img {
  width: 100%;
}
.ul-autocrop.loading:after {
  background-color: rgba(19, 32, 38, 0.8);
  content: '';
  height: 42px;
  margin: -21px 0 0 -21px;
  width: 42px;
  z-index: 99999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  /*background-image: url("/img/loader-white.svg");*/
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.ul-autocrop[use-auto-height] {
  height: auto !important;
}
.ul-autocrop[use-auto-height] img {
  min-height: unset !important;
  margin-left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.ul-autocrop:not([use-auto-height]) img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: auto;
}
